.button{
    height: 32px;
}
.embed {
   @media (min-width: 1100px) {
    max-width: 702px;
    iframe {
      width: 702px;
      height: 472px;
    }
  }
}
.texto{
    font-size: 14px;
}
.header{
    margin-top: 24px;
}
.description{
  font-size: 14px;
}
.feedback{
  margin-left: 4px;
  font-size: 12px;
  font-weight: bold;
}