<mat-card class="card-item" fxLayout="column">
    <img mat-card-image src="{{video?.snippet.thumbnails.medium.url}}">
    <mat-card-content>
        <p>
            <strong>{{video?.snippet.title}}</strong>
        </p>
        <p class="text">
            <strong>{{video?.snippet.channelTitle}}</strong>
        </p>
        <p class="text">
            {{video.snippet.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
            <button class="button" mat-raised-button color="primary" (click)="onClickDetail()">DETALHES DO VIDEO</button>
    </mat-card-actions>
</mat-card>