<mat-card class="card-item">
    <!-- <img mat-card-image src="https://i.ytimg.com/vi/Ybxingb1cHs/default.jpg"> -->
    <div class="img-card"
        style="background-image: url('https://i.ytimg.com/vi/Ybxingb1cHs/mqdefault.jpg');">
    </div>
    <p>
        <strong>Titulo do video</strong>
    </p>
    <p class="text">
      <strong>Nome do canal</strong>  
    </p>
    <p class="text">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </p>
    <mat-card-actions>
        <button class="button" mat-raised-button color="primary">DETALHES DO VIDEO</button>
    </mat-card-actions>
</mat-card>